
<tr> 
	
	<td> <%= @document['code'] %> </td>  
	<td> <a href='edit/<%= @document["code"] %>'>Edit <i class='icon-edit'></i></a> </td>
	<td> <a href='/delete/<%= @document["_id"] %>'>Delete <i class='icon-remove'></i></a> </td>

</tr>	

