<h1>Edit code: <%= @code['code'] %></h1>
<p>To edit this code, modify the text below and click "Save". Export files and the visualization will be automatically updated.<p>
<p><b>Make sure</b> you put <i>quotes</i> around the code numbers so that they are stored as <b>text</b>, not numbers.</p>
<div class='span12'>
 <%= erb :new_form %>
</div>
