

<script src="http://d3js.org/d3.v3.min.js"></script>
<div class='row'>
	<div id='tooltip'  style='display:none;padding:3px;border:1px solid #999;position:absolute;background-color:hsla(255,0%,90%,.8);'>
		<span id='tooltiptext' style='font-weight:bold;'>Mouseover a code to see detail.
		</span>
	</div>


	<div id='chart' class='span8' style='margin-top:50px'>
	</div>
</div>
<script src='/vis_explorer.js'></script>