<h1> Download code data </h1>
<p>The coding scheme data is available in several formats:</p>
<table class='table table-striped'>
	<thead>
		<tr>
			<th>File</th>
			<th>Comment</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href='/codes.csv'>codes.csv</a></td>
			<td>Spreadsheet: one row per code</td>
		</tr>	
		<tr>
			<td><a href='/code_tree.json'>code_tree.json</a></td>
			<td>A single JSON object which holds the whole coding scheme (used for the visualization)</td>
		</tr>
	</tbody>
</table>

<script>
	$('#nav_export').addClass('active')
</script>