<p class='btn' id='show_new_code'><i class=''></i>New code</p>

<div id='new_code' class='span12'>
 <%= erb :new_form %>
</div>


<h2><%= @count %> Codes</h2>

<table class='table table-hover table-striped'>
	<thead>
		<tr>
			<th> Code </th>
			<th> Links </th>
		<tr>
	</thead>
	<tbody>
		
	<% Code.all.each do |document| %>
	 		<% @document = document %>
	 		<%= erb :code_tr %>
	<% end %>

	</tbody>
</table>

<script>
	$('#nav_admin').addClass('active')
	$(function() {	
		$('#new_code').hide()
		$('#show_new_code').click(function() {
			$('#new_code').show()
			})			
		})

		
</script>
