<form action='/new' method='post'>
	<br>
	<% if @code %>
		<input type='hidden' name='_id' value='<%= @code['_id'] %>' />	
	<% end %>
	<textarea name='code' rows="8" cols="100" class='span8'><% 
	if @code
		@code.delete("_id") %><%= YAML::dump(@code) %><% else %>
code: 'code_value'
name: 'code_name'
parent: 'parent_code_value'
children: ['any', 'child', 'codes']
type: 'activity/purpose/subsector/sector/supersector'<% end %></textarea>

	<input class='btn'type='submit' value='Save this code' />
</form>
